@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@keyframes logoBreath {
  0% { transform: scale(0.95); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.7; }
}

.logo-animation {
  animation: logoBreath 2s infinite ease-in-out;
}